

@import url('https://fonts.cdnfonts.com/css/apple-ii-screen-typeface');

@keyframes lines {
    0% {background-position: 0px 0px}
    50% {background-position: 0px 0px}
    51% {background-position: 0px 2px}
    100% {background-position: 0px 2px}
}

#interlaced {
    position: fixed;
    background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.3) 3px 4px);
    border-radius: calc(var(--outer-radius) / 4);
    margin-left: var(--inner-margin);
    margin-right: calc(50vw + var(--inner-margin));
    margin-top: calc(1.5 * var(--inner-margin) + 50px);
    margin-bottom: calc(1.5*var(--inner-margin));
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    animation: lines 0.066666666s linear infinite;
    border-radius: 13px;

}
@keyframes blink {
    0% {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
  }

.blink {
    animation: blink 0.4s linear infinite;
}

html, body {
    font-family: 'Apple II Screen Typeface', sans-serif;
    color: white;
    font-size: 40px;
    margin: 0;
    background: #1E1E1E;
    --outer-radius: 20px;
    --inner-left-margin: 5vw;
    --inner-top-margin: 15vh;
    --base-font-size: calc(1vw + 2vh);
    --depth: calc(0.5vh + 1vw);
    --depth-swap: calc(1vh + 0.5vw);
}

body {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    padding: none;
}

.computer {
    --computer-width: 50vw;
    width: var(--computer-width);
    height: 100vh;
}

.outer-frame, .outer-frame-shadow, .inner-frame {
    display: inline-block;
}


.outer-frame {
    background: #C1B9A7;
    border-radius: var(--outer-radius);
    height: -webkit-fill-available;
    width: calc(var(--computer-width) - 5vw);
    box-shadow: inset -24px -28px 41.8px -21px rgba(0, 0, 0, 0.52);
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.inner-frame {
    background: #627c73;
    border-radius: calc(var(--outer-radius) / 4);
    margin-left: var(--inner-left-margin);
    margin-right: calc(50vw + var(--inner-left-margin));
    margin-top: calc(1.5 * var(--inner-top-margin));
    margin-bottom: calc(1.5*var(--inner-top-margin));
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    box-shadow: inset 0px 0px 400px rgba(0, 0, 0, 0.9);
}
.inner-frame-external {
    background: none;
    display: none;
    border-radius: 20px;
    height: -webkit-fill-available;
    width: 32vw;
    margin-top: 16vh;
    margin-left: 9vw;
    margin-bottom: 17vh;
    position: absolute;
    box-shadow: -10px -10px 10px 10px rgba(160, 149, 127, 0.5), -10px 10px 5px 10px rgba(125, 117, 94, 0.5), 10px 10px 0px 4px rgba(238, 239, 233, 0);
}

.inner-frame-content {
    color: #000000;
    padding-left: 0px;
    padding-top: 1vh;
    padding-right: 0px;
    padding-bottom: auto;
    text-align: center;
    font-size: var(--base-font-size);
    z-index: -1;
    
}
.inner-trapezoid-left {
    margin-top: calc(1.5* var(--inner-top-margin));
    margin-left: var(--inner-left-margin);
    margin-bottom: calc(1.5*var(--inner-top-margin));

    border-top: var(--depth) solid transparent;
    border-left: calc(2* var(--depth)) solid #6f6854;
    border-bottom: var(--depth) solid transparent;
    width: var(--depth);
    height: -webkit-fill-available;
    border-radius: calc(var(--outer-radius) / 4);
    position: absolute;
}

.inner-trapezoid-bottom {
    margin-left: var(--inner-left-margin);
    margin-right: calc(50vw + var(--inner-left-margin));
    margin-bottom: calc(1.5* var(--inner-top-margin));
    border-left: calc(2* var(--depth)) solid transparent;
    border-right: var(--depth) solid transparent;
    border-bottom: calc(1* var(--depth)) solid #EEEF;
    width: -webkit-fill-available;
    height: var(--depth);
    border-radius: calc(var(--outer-radius) / 4);
    position: absolute;
    bottom: 0;
}

.inner-trapezoid-top {
    margin-left: var(--inner-left-margin);
    margin-right: calc(50vw + var(--inner-left-margin));
    margin-top: calc(1.5 * var(--inner-top-margin));

    border-left: calc(2* var(--depth)) solid transparent;
    border-right: var(--depth) solid transparent;
    border-top: calc(1* var(--depth)) solid #827967;
    width: -webkit-fill-available;
    height: var(--depth);
    border-radius: calc(var(--outer-radius) / 4);
    position: absolute;
    top: 0; /* Align it to the top */
}

.inner-trapezoid-right {
    margin-top: calc(1.5 * var(--inner-top-margin));
    margin-right: calc(50vw + var(--inner-left-margin));
    margin-bottom: calc(1.5 * var(--inner-top-margin));

    border-top: var(--depth) solid transparent;
    border-right: calc(2 * var(--depth)) solid #e0ddce;
    border-bottom: var(--depth) solid transparent;
    width: var(--depth);
    height: -webkit-fill-available;
    border-radius: calc(var(--outer-radius) / 4);
    position: absolute;
    right: 0; /* Align it to the right */
}

.outer-frame-shadow {
    height: -webkit-fill-available;
    width: 45vw;
    background: radial-gradient(100% 100% at -10% -10%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.01) 99%); 
    border-radius: var(--outer-radius);
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    pointer-events: none
}

.name-container {
    font-family: "Abel", sans-serif;
    font-size: 125px;
    font-size: calc( 3 * 2.5vw);
    margin-left: auto;
    width: 50vw;
}

button {
    font-family: 'Apple II Screen Typeface', sans-serif;
    font-size: var(--base-font-size);
    text-align: left;
    background: none;
    border:none;
    width: 34vw;
    height: 6vh;
    padding-left: 4vw;
    transition: all 0.15s ease-out;
}

.button-container {
    width: 32vw;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-bottom: 17vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button:hover {
    background: radial-gradient(100% 50% at 0% 50%, rgba(20, 48, 38, 0.25) 0%, rgba(98, 124, 115, 0.01)) 100%;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 20px #fff,
      0 0 30px #fff;
    transition: all 0.15s ease-in;
    width: 34vw;
    cursor: pointer;
}

.wood {
    width: 90vw;
    height: 100vh;
    overflow: scroll;
    background-color: #3e1f0d; /* Base color for mahogany */
    background-image: 
        /* Fine grain lines */
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 10%, transparent 10%, transparent 100%),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 30%, transparent 30%, transparent 100%),
        linear-gradient(90deg, rgba(63, 45, 13, 0.15) 0%, rgba(63, 45, 13, 0.15) 50%, transparent 50%, transparent 100%),
        linear-gradient(90deg, rgba(63, 45, 13, 0.1) 0%, rgba(63, 45, 13, 0.1) 70%, transparent 70%, transparent 100%),
        /* Darker grain lines */
        linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, transparent 50%, transparent 100%),
        linear-gradient(90deg, rgba(185, 95, 39, 0.2) 0%, rgba(185, 95, 39, 0.2) 30%, transparent 30%, transparent 100%),
        /* Subtle variations */
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 20%, transparent 20%, transparent 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 100%),
        linear-gradient(90deg, rgba(185, 95, 39, 0.1) 0%, rgba(185, 95, 39, 0.1) 75%, transparent 75%, transparent 100%),
        /* Noise texture */
        linear-gradient(0deg, rgba(255, 255, 255, 0.02) 50%, transparent 50%);
    background-size: 
        13px, 
        29px, 
        37px, 
        53px,
        7px, 
        41px, 
        100%, 
        21px, 
        59px, 
        100%;
    background-blend-mode: multiply;
    filter: blur(1.5px); /* Applying a slight blur */
    position: relative;
}
.paper {
    margin-left: 10vw;
    padding-left: 3em;
    margin-right: 20vw;
    top: 15vh;
    width: -webkit-fill-available;
    height: fit-content;

    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 4vh;
    position: absolute;
    font-family:serif;
    font-size: 4vh;
    color: #000000;
    line-height: 1;
}


