<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Website</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>
<body>
    <div class ="computer">
        <div class="outer-frame"></div>
       
        <div class="inner-frame">
            <div id="interlaced"></div>
            <div class="inner-frame-content">
                <br/>
                    Select Page:
                <br/>
            </div>
        </div>
        <div class="inner-frame-external"></div>
        <div class="button-container">
            <a href="about.html"><button type="button"> -  About Me</button></a>
            <a href="projects.html"><button type="button"> - Projects</button></a>
            <a href="about.html"><button type="button"> - Resume</button></a>
            <a href="contact.html"><button type="button"> - Contact Info</button></a>
        </div>
        <div class="inner-trapezoid-bottom"></div>
        <div class="inner-trapezoid-left"></div>
        <div class="inner-trapezoid-top"></div>
        <div class="inner-trapezoid-right"></div>
          


        <div class="outer-frame-shadow"></div>
    </div>
    <div class="name-container">
        Daniel<br>Grossman
    </div>
    

    
</body>
</html>